<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home</title>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="assets/images/logo.jpg" id="logoOnjeg"></a>
		</div>

		
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Ride With Us</a></li>
				<li><a href="#">Overwiew</a></li>
				<li><a href="#">Why[nama]</a></li>
				<li><a href="#">How To Use</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<button type="submit" class="btn btn-default" id="btnLogin">Login</button>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class = "section1 container-fluid">
	<div class = "col-xs-6"> 
		<h1>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit
		</h1>
		<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
		<br>

		<div class="btnSection1">
		<button type="button" class="btnLearnMore">Learn More</button>
		<button type="button" class="btnOpenInYourBrowser">Open In Your Browser</button>
		</div>
		
	</div>

	<div class = "col-xs-6">		
		<img src="assets/images/motorBackground.jpg" class="img-responsive">
	 </div>
</div>

<div class= "section2 container-fluid">	
	<div class = "col-xs-6"> 
		<img src="assets/images/motorBackground.jpg" class="img-responsive">
	</div>
	<div class="headerSection2 col-xs-6">	
		<h5>	
		Lorem ipsum		
		</h5>	
		<h1>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit
		</h1>
		<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
	</div>
</div>

<div class= "section3 container	">	
	<br>

	<div class = "headerSection3 col-xs-12"> 
		<h5>Who Are We?</h5>
		<h1>Lorem ipsum dolor sit amet,  consectetur adipisicing elit</h1>
		<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
	</div>

	<div class="row">
		<div class="memberTeam col col-xs-6">
			<img src="assets/images/profilePicture.png">
		</div>
		<div class="memberTeamDescription col col-xs-6">
				<h3>Marvin Santoso</h3>
				<br>	
				<p>As a Project Manager</p>
		</div>
	</div>

	<div class="row">
		<div class="memberTeam col col-xs-6">
			<img src="assets/images/profilePicture.png">
		</div>
		<div class="memberTeamDescription col col-xs-6">
				<h3>Marvin Santoso</h3>
				<br>	
				<p>As a Project Manager</p>
		</div>
	</div>

	<div class="row">
		<div class="memberTeam col col-xs-6">
			<img src="assets/images/profilePicture.png">
		</div>
		<div class="memberTeamDescription col col-xs-6">
				<h3>Marvin Santoso</h3>
				<br>	
				<p>As a Project Manager</p>
		</div>
	</div>
</div>

<div class="section4 container-fluid">
	<div class="col-xs-6">
		<div class="headerSection4">	
			<h5>LOREM IPSUM?</h5>
			
			<h1>Lorem ipsum dolor sit amet</h1>
			<h3>Lorem Ipsum</h3>
			
			<div class="progressBar">
  				<div class="circle done">
	    			<span class="label">1</span>
	    			<span class="title">Lorem</span>
  				</div>
  					<span class="bar"></span>
  				<div class="circle">
				    <span class="label">2</span>
				    <span class="title">Lorem</span>
				</div>
					 <span class="bar"></span>
				<div class="circle">
					 <span class="label">3</span>
					 <span class="title">Lorem</span>
				</div>
			</div>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			</p>

			<button type="button" class="btnOpenInYourBrowser" id="btnOpenBrowser">Open in Browser</button>
		</div>	
	</div>

	<div class="col-xs-6">
		<img src="assets/images/motorBackground.jpg" class="img-responsive">
	</div>

</div>

<div class="section5 container-fluid">
	<div class="headerSection3">
		<h5>LOREM IPSUM</h5>
		<h1>Lorem ipsum dolor sit amet,  consectetur adipisicing elit</h1>
		<p>	
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
	</div>
	<br>	
	<br>
	<div class="offerField row">	
		<div class="offer col-xs-6 col-md-3">
				<p>Lorem Ipsum dolor sit amet</p>
				<h1>130 MILLION</h1>
				<p>Lorem Ipsum dolor sit amet</p>	
		</div>

		<div class="offerNext col-xs-6 col-md-3">
			<p>Lorem Ipsum dolor sit amet</p>
			<h1>130 MILLION</h1>
			<p>Lorem Ipsum dolor sit amet</p>	
		</div>

		<div class="offerNext col-xs-6 col-md-3">
			<p>Lorem Ipsum dolor sit amet</p>
			<h1>130 MILLION</h1>
			<p>Lorem Ipsum dolor sit amet</p>	
		</div>

		<div class="offerNext col-xs-6 col-md-3">
			<p>Lorem Ipsum dolor sit amet</p>
			<h1>130 MILLION</h1>
			<p>Lorem Ipsum dolor sit amet</p>	
		</div>	
	</div>

	
	<div class="signUp">	
		<button type="button" class="btnSignUpToRide">Sign Up To Ride</button>
	</div>
</div>

<div class="footer container-fluid">	
			<div class="col-xs-6 col-md-3 col-lg-2">	
					<h5>@JanganMenyerah 2018</h5>
			</div>

			<div class="linkNavbar col-xs-6 col-md-3 col-lg-2">	
					<li class="btn-link" id="btnAboutUs"><a href="#"></a>About Us</li>
					<li class="btn-link" id="btnContact"><a href="#"></a>Contact</li>
					<li class="btn-link" id="btnTermsCondition"><a href="#"></a>Terms & condition</li>
			</div>

			<div class="linkSocialMedia col-lg-2">	
					<div class="logoSocialMedia">
						<img src="assets/images/facebook.png" class="img-responsive" id="facebook">
						<img src="assets/images/twitter.png" class="img-responsive" id="twitter">
						<img src="assets/images/instagram.png" class="instagram img-responsive" id="instagram">	
					</div>

					<div class="descriptionSocialMedia">
						<li class="btn-link" id="descriptionFacebook"><a href="#"></a>Facebook</li>
						<li class="btn-link" id="descriptionTwitter"><a href="#"></a>Twitter</li>
						<li class="btn-link" id="descriptionIstagram"><a href="#"></a>Instagram</li>
					</div>

					
			</div>

			<div class="col-xs-6 col-md-3 col-lg-2">	
				<h5>Subscribe to our newsletter</h5>
				<div class="input-group">
      				<input type="text" class="form-control" placeholder="Email Address">
      				<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Go!</button>
      				</span>
    			</div>
			</div>

			<div class="col-xs-6 col-md-3 col-lg-2">

			</div>

			<div class="col-xs-6 col-md-3 col-lg-2">
				<h5>Alamat</h5>
				<h5>Telp</h5>
				<h5>email</h5>
			</div>	

			</div>	
		
</div>
</body>
</html>
