body {
    background-color: #e6e6e6;
}

.form {
    background-color: #ffffff;
    height: 630px;
    border: 2px none;
    border-radius: 10px;
    margin-top: 5%;
    padding: 3%;
    width: 500px;
    margin-left: 37%;
}

.line-separator {
    height: 2px;
    background: #e6e6e6;
}

.submit {
    margin-top: 10px;
}

.submitBtn {
    background-color: #e74c3c;
    color: white;

}

.line-separator {
    margin-top: 5%;
}

.txtName {
    color: blue;
}